<div class="menu">
<h3>Formas</h3>
	<ul>
		<li>Ordenes de servicio
			<ul>
				<li><%= link_to('Nueva Orden de servicio', 'ordende_servicios/nuevo')%></li>
			</ul>
		</li>
		<li>Clientes
			<ul>
				<li><%= link_to('Lista de clientes', 'clientes/lista')%></li>
			</ul>
		</li>
		<li>Tramites
			<ul>
				<li><%= link_to('Lista de Tramites', 'tramites/lista')%></li>
			</ul>
		</li>
		<li>Observaciones
			<ul>
				<li><%= link_to('Lista de observaciones', 'observacions/lista')%></li>
			</ul>
		</li>
		<li>Telefonos
			<ul>
				<li><%= link_to('Manejador de Telefonos', 'telefonos/default')%></li>
			</ul>
		</li>
		<li>Servicios
			<ul>
				<li><%= link_to('Lista de servicios', 'servicios/lista')%></li>
			</ul>
		</li>
		<li>Estatus
			<ul>
				<li><%= link_to('Lista de estatus', 'estatus/lista')%></li>
			</ul>
		</li>
	</ul>
</div>
